[submodule "web/kubernetes"]
	path = web/kubernetes
	url = https://github.com/binder-project/binder-deploy-kubernetes.git
[submodule "web/web"]
	path = web/web
	url = https://github.com/binder-project/binder-web.git
[submodule "web/healthz"]
	path = web/healthz
	url = https://github.com/binder-project/binder-health-checker.git
[submodule "web/build"]
	path = web/build
	url = https://github.com/binder-project/binder-build.git
[submodule "web/logging"]
	path = web/logging
	url = https://www.github.com/binder-project/binder-logging
