[Unit]
Description=Binder web

[Service]
User=binder
Group=www-data
Environment=HOME=/var/lib/binder/
WorkingDirectory=/var/lib/binder/deploy/web/web
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target

