[Unit]
Description=Binder health checker
Wants=binder-kubernetes.service binder-web.service

[Service]
User=binder
Group=www-data
EnvironmentFile=/var/lib/binder/apikey
Environment=HOME=/var/lib/binder/
WorkingDirectory=/var/lib/binder/deploy/web/healthz
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target

