[Unit]
Description=Binder docker builder

[Service]
User=binder
Group=www-data
EnvironmentFile=/var/lib/binder/apikey
Environment=HOME=/var/lib/binder/
WorkingDirectory=/var/lib/binder/deploy/web/build
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target